@using Zetta.Datos;


@model Paginacion<Zetta.Models.OrdenVenta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var presupuesto = ViewData["Presupuesto"] as bool?;

}

<div class="container p-2">
    <div class="row p-2">
        @if (presupuesto.HasValue && presupuesto.Value)
        {
            <div class="col-6">
                <h2 class="text-info">Listado de Presupuestos</h2>
            </div>
        }
        else
        {
            <div class="col-6">
                <h2 class="text-info">Listado de Órdenes de Venta</h2>
            </div>
        }
       
        <div class="col-6 text-end">
            @if (presupuesto.HasValue && presupuesto.Value)
            {
                <a asp-controller="OrdenVenta" asp-action="Crear" class="btn btn-primary" asp-route-presupuesto="true">
                    <i class="bi bi-plus"></i>  Nuevo Presupuesto
                </a>
            }
            else
            {
                <a asp-controller="OrdenVenta" asp-action="Crear" class="btn btn-primary" asp-route-presupuesto="false">
                    <i class="bi bi-plus"></i>  Nueva Venta
                </a>
            }
        </div>
    </div>

    <form asp-controller="OrdenVenta" asp-action="Index">
        <p>
            Buscar: <input type="text" name="buscar" class="form-text" />
            <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
        </p>
    </form>
    <button onclick="goBack()" class="btn btn-primary">Volver</button>

    <hr />
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="table-dark text-center">
                    <th>Número</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var OrdenVenta in Model)
                {
                    <tr>
                        <td>@OrdenVenta.NroOrdenVenta</td>
                        <td>@OrdenVenta.Fecha.ToShortDateString()</td>
                        <td>@OrdenVenta.Cliente.Nombre</td>
                        <td>@OrdenVenta.Estado</td>
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                               
                               
                                <a asp-action="Ver" asp-route-id="@OrdenVenta.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <a asp-action="Eliminar" asp-route-id="@OrdenVenta.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                @if (Model.PaginasAnteriores)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { numpag = Model.PaginaInicio - 1, filtroActual = ViewData["FiltroActual"], presupuesto = true  })">Anterior</a>
                    </li>
                }

                @for (int i = 1; i <= Model.PaginasTotales; i++)
                {
                    <li class="page-item @(i == Model.PaginaInicio ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { numpag = i, filtroActual = ViewData["FiltroActual"] , presupuesto = true })">@i</a>
                    </li>
                }

                @if (Model.PaginasPosteriores)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { numpag = Model.PaginaInicio + 1, filtroActual = ViewData["FiltroActual"], presupuesto = true  })">Siguiente</a>
                    </li>
                }
            </ul>
        </nav>
    }
    else
    {
        <p>No Se encontraron registros</p>
    }




</div>

@section Scripts {
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
}
