@model IEnumerable<Zetta.Models.OrdenCompra>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-info pl-3">Listado de Órdenes de Compra</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="OrdenCompra" asp-action="Crear" class="btn btn-primary">
                <i class="fas fa-plus"></i>  Nueva Orden de Compra
            </a>
        </div>
    </div>

    <form asp-controller="OrdenCompra" asp-action="Index">
        <p>
            Buscar: <input type="text" name="buscar" class="form-text" />
            <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
        </p>
    </form>
    <button onclick="goBack()" class="btn btn-primary">Volver</button>

    <hr />
    <br />

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="table-dark text-center">
                <th>N°Orden</th>
                <th>Fecha</th>
                <th>Proveedor</th>
                <th>Observaciones</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var ordenCompra in Model)
            {
                <tr>
                    <td>@ordenCompra.NroOrden</td>
                    <td>@ordenCompra.Fecha.ToShortDateString()</td>
                    <td>@ordenCompra.Proveedor.Razonsocial</td>
                    <td>@ordenCompra.Observaciones</td>
                    <td>@ordenCompra.Estado</td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-action="Editar" asp-route-id="@ordenCompra.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-action="Eliminar" asp-route-id="@ordenCompra.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
