@model Zetta.Models.ViewModels.OrdenCompraVM

@{
    ViewData["Title"] = "Ver";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <div class="container">
        @* <div class="row mt-3"> *@
        <div class="row mt-2">
            @* <div class="col-sm-6" style="float: left; width: 50%;"> *@
            <div class="col-sm-6" style="width: 400px; display: inline-block; vertical-align: top;">
                <!-- Datos de la empresa -->
                <img src="\imagenes\LogoZETTA.jpeg" alt="Logo de la empresa" class="img-fluid" style="max-height: 40px;">
                <p style="margin-bottom: 1px;">Sebastián Vera 383, (5800) Río Cuarto, Córdoba.</p>
                <p style="margin-bottom: 1px;"><i class="bi bi-envelope-at"></i> ventas@zettacomputacion.com.ar</p>
                <p style="margin-bottom: 1px;"><i class="bi bi-whatsapp"></i> 3585167469</p>
            </div>

            <div class="col-sm-6" style="width: 400px; display: inline-block; vertical-align: top;">
                <!-- Número de OrdenCompra y fecha -->
                <h5 class="mb-3"><strong>Orden de Compra Nro. # @Model.OrdenCompra.NroOrden</strong></h5>
                <h5><strong>Fecha: @Model.OrdenCompra.Fecha.ToString("dd/MM/yyyy")</strong></h5>
            </div>
        </div>

    
        <div class="row mt-2 flex-container ">
            <div class="col-sm-6" style="width: 400px; display: inline-block; vertical-align: top;">
                <!-- Datos del proveedor -->
                <h5><strong>Datos del Proveedor</strong></h5>
                <p style="margin-bottom: 1px;"><strong>Nombre:</strong> @Model.OrdenCompra.Proveedor.Razonsocial</p>
                <p style="margin-bottom: 1px;"><strong>Dirección:</strong> @Model.OrdenCompra.Proveedor.Direccion, @Model.OrdenCompra.Proveedor.Localidad</p>
                <p style="margin-bottom: 1px;"><strong>Teléfono:</strong> @Model.OrdenCompra.Proveedor.Telefono</p>
                <p style="margin-bottom: 1px;"><strong>E-mail:</strong> @Model.OrdenCompra.Proveedor.Email</p>
            </div>
            <div class="col-sm-6" style="width: 400px; display: inline-block; vertical-align: top;">
                <!-- Datos de Entrega -->
                <h5><strong>Datos de Entrega</strong></h5>
                <p style="margin-bottom: 1px;"><strong>Lugar de Entrega:</strong> Sebastián Vera 383, (5800) Río Cuarto, Córdoba.</p>
                <p style="margin-bottom: 1px;"><strong>Observaciones:</strong> @Model.OrdenCompra.Observaciones</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-12" style="width: 800px;">
                <!-- Tabla de productos -->
                <h5><strong>Detalle de Productos</strong></h5>
                <table class="table table-bordered table-striped" style="width:100%">
                    @*  <table class="table"> *@
                    <thead>
                        <tr class="table-dark text-center">
                            <th>Código</th>
                            <th>Nombre</th>
                            <th class="text-center">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var detalle in Model.OrdenCompraDetalle)
                        {
                            <tr>
                                <td>@detalle.Producto.Codigo</td>
                                <td>@detalle.Producto.Nombre</td>
                                <td class="text-center">@detalle.Cantidad</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-6 text-right">
                <!-- Botones -->
                <div class="mt-4 d-flex justify-content-end d-print-none">
                    <a href="@Url.Action("Index", "OrdenCompra")" class="btn btn-secondary">Volver</a>
                    <a asp-controller="OrdenCompra" asp-action="MostrarPDFenPagina" asp-route-id="@Model.OrdenCompra.Id" target="_blank" class="btn btn-primary ms-2">Ver PDF en página</a>
                    <a asp-controller="OrdenCompra" asp-action="DescargarPDF" asp-route-id="@Model.OrdenCompra.Id" class="btn btn-primary ms-2">Descargar PDF</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

