@using Zetta.Datos;

@model Paginacion<Zetta.Models.Proveedor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-2">
    <div class="row p-2">
        <div class="col-6">
            <h2 class="text-info">Lista de Proveedores</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Proveedor" asp-action="Crear" class="btn btn-primary">
                <i class="fas fa-plus"></i>  Nuevo Proveedor
            </a>
        </div>
    </div>

    <form asp-controller="Proveedor" asp-action="Index">
        <p>
            Buscar: <input type="text" name="buscar" class="form-text" />
            <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
        </p>
    </form>
    <button onclick="goBack()" class="btn btn-primary">Volver</button>

    @*<form asp-controller="Proveedor" asp-action="Index" class="form-inline mb-3">
        <div class="input-group">
            <input type="text" name="buscar" class="form-control" placeholder="Buscar..." value="@ViewData["Buscar"]" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-dark">Buscar</button>
            </div>
        </div>
    </form>
    <button onclick="goBack()" class="btn btn-primary">Volver</button>*@

    <hr />
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="table-dark text-center">
                    <th>Razón Social</th>
                    <th>Contacto</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Website</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Razonsocial</td>
                        <td>@item.Contacto</td>
                        <td>@item.Telefono</td>
                        <td>@item.Email</td>
                        <td>@item.Website</td>
                        <th class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Proveedor" asp-action="Editar" asp-route-Id="@item.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a asp-controller="Proveedor" asp-action="Eliminar" asp-route-Id="@item.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                }
            </tbody>

        </table>

        <nav>
            <ul class="pagination justify-content-center">
                @if (Model.PaginasAnteriores)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { numpag = Model.PaginaInicio - 1, filtroActual = ViewData["FiltroActual"] })">Anterior</a>
                    </li>
                }

                @for (int i = 1; i <= Model.PaginasTotales; i++)
                {
                    <li class="page-item @(i == Model.PaginaInicio ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { numpag = i, filtroActual = ViewData["FiltroActual"] })">@i</a>
                    </li>
                }

                @if (Model.PaginasPosteriores)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { numpag = Model.PaginaInicio + 1, filtroActual = ViewData["FiltroActual"] })">Siguiente</a>
                    </li>
                }
            </ul>
        </nav>
    }
    else
    {
        <p>No hay registros de Proveedores</p>
    }

</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

