@model Zetta.Models.ViewModels.StockVM
@{
    ViewData["Title"] = "VerStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
<div class="container p-3">
    <div class="col-6">
        <h2 class="text-info pl-3">@Model.ProductoNombre</h2>
    </div>
    <br />
    <div class="col-6">
        <h3>Stock Actual: @Model.StockActual</h3>
    </div>
    <hr />
    <br />

    <h4 class="text-body-secondary">Detalle de Movimientos</h4>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr class="table-dark text-center">
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Concepto</th>
                <th>Comprobante N°</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var movimiento in Model.Movimientos)
            {
                <tr >
                    <td>@movimiento.Fecha</td>
                    <td style="text-align: right;">
                        @movimiento.Cantidad
                        @if (movimiento.Concepto == "Ingreso de producto" || movimiento.Concepto == "Compras" || movimiento.Concepto == "Devoluciones")
                        {
                            <span class="fa-stack fa-sm">
                                <i class="fas fa-circle fa-stack-2x" style="color: green;"></i>
                                <i class="fas fa-arrow-up fa-stack-1x fa-inverse"></i>
                            </span>
                        }
                        else
                        {
                            <span class="fa-stack fa-sm">
                                <i class="fas fa-circle fa-stack-2x" style="color: red;"></i>
                                <i class="fas fa-arrow-down fa-stack-1x fa-inverse"></i>
                            </span>
                        }
                       
                    </td>
                    <td>@movimiento.Concepto</td>
                    <td>@*@movimiento.Comprobante*@</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-6 col-md-3">
            <a asp-controller="Stock" asp-action="Index" asp-route-ProductoNombre="@Model.ProductoNombre" class="btn btn-primary form-control">Actualizar Stock</a>
        </div>
        <div class="col-6 col-md-3">
                <a asp-controller="Producto" asp-action="Index" class="btn btn-secondary form-control">Regresar</a>
        </div>
        
    </div>
</div>
</form>






